/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fond de la page avec un dégradé */
body {
    background: linear-gradient(to right, violet, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Conteneur principal pour les formulaires et sections de téléchargement */
.container {
    background-color: rgba(192, 192, 192, 0.9); /* Couleur gris clair avec transparence */
    width: 400px; /* Élargir légèrement */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Ombre douce */
    margin: 20px; /* Espacement vertical */
}

/* Titre */
h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style des étiquettes */
.label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

/* Champ de saisie */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.input-field:focus {
    border-color: #5c6bc0; /* Changer la couleur de bordure au focus */
}

/* Bouton de connexion */
.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #5c6bc0;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #3f4d9d; /* Changer la couleur au survol */
}

/* Section des liens de téléchargement */
.download-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px; /* Ajouter un espacement au-dessus */
}

.download-links a {
    display: block;
    padding: 15px; /* Espacement interne pour des liens plus larges */
    background-color: #5c6bc0;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.download-links a:hover {
    background-color: #3f4d9d;
}

/* Espacement */
input, .label {
    margin-bottom: 15px;
}

.error-message {
    color: #d9534f; /* Rouge vif */
    font-size: 14px;
    margin-top: 10px;
    display: none; /* Cacher par défaut */
}
